@font-face{font-family:'f1';src: url(f/AdverGothicC.ttf);}
@font-face{font-family:'f2' ; src: url(f/AdverGothicCamC.ttf);}
@font-face{font-family:'f3';src: url(f/AnnaC.ttf);}
@font-face{font-family:'f4';src: url(f/AnnaC_B.ttf);}
@font-face{font-family:'f5';src: url(f/AnnaLightC.ttf);}
@font-face{font-family:'f6';src: url(f/AstronC.ttf);}
@font-face{font-family:'f7';src: url(f/BauhausC_B.ttf);}
@font-face{font-family:'f8';src: url(f/BauhausC_DemiB.ttf);}
@font-face{font-family:'f9';src: url(f/BauhausC_Heavy.ttf);}
@font-face{font-family:'f10';src: url(f/BauhausC_Light.ttf);}
@font-face{font-family:'f11';src: url(f/BauhausC_Medium.ttf);}
@font-face{font-family:'f12';src: url(f/Bebit.ttf);}
@font-face{font-family:'f13';src: url(f/BeeskneesC.ttf);}
@font-face{font-family:'f14';src: url(f/BenguiatGothicC_B.ttf);}
@font-face{font-family:'f15';src: url(f/BenguiatGothicC_BI.ttf);}
@font-face{font-family:'f16';src: url(f/BenguiatGothicC_Book.ttf);}
@font-face{font-family:'f17';src: url(f/BenguiatGothicC_BookI.ttf);}
@font-face{font-family:'f18';src: url(f/BernhardC.ttf);}
@font-face{font-family:'f19';src: url(f/BetinaScriptC.ttf);}
@font-face{font-family:'f20';src: url(f/BetinaScriptC_B.ttf);}
@font-face{font-family:'f21';src: url(f/BetinaScriptExtraC.ttf);}
@font-face{font-family:'f22';src: url(f/BlGroteskC.ttf);}
@font-face{font-family:'f23';src: url(f/BlGroteskC_I.ttf);}
@font-face{font-family:'f24';src: url(f/BodoniC_B.ttf);}
@font-face{font-family:'f25';src: url(f/BodoniC_BI.ttf);}
@font-face{font-family:'f26';src: url(f/BodoniC_I.ttf);}
@font-face{font-family:'f27';src: url(f/BodoniCameoC.ttf);}
@font-face{font-family:'f28';src: url(f/BodoniCondC.ttf);}
@font-face{font-family:'f29';src: url(f/CompactC.ttf);}
@font-face{font-family:'f30';src: url(f/CompactC_B.ttf);}
@font-face{font-family:'f31';src: url(f/CompactC_BI.ttf);}
@font-face{font-family:'f32';src: url(f/CompactC_I.ttf);}
@font-face{font-family:'f33';src: url(f/Countdown.ttf);}
@font-face{font-family:'f34';src: url(f/CourierC.ttf);}
@font-face{font-family:'f35';src: url(f/CourierC_B.ttf);}
@font-face{font-family:'f36';src: url(f/CourierC_BOblique.ttf);}
@font-face{font-family:'f37';src: url(f/CourierC_Oblique);}
@font-face{font-family:'f38';src: url(f/CrashC.ttf);}
@font-face{font-family:'f39';src: url(f/DaggerC.ttf);}
@font-face{font-family:'f40';src: url(f/DecorC.ttf);}
@font-face{font-family:'f41';src: url(f/DidonaC.ttf);}
@font-face{font-family:'f42';src: url(f/Dikovina.ttf);}
@font-face{font-family:'f43';src: url(f/Dikovina_B.ttf);}
@font-face{font-family:'f44';src: url(f/DisneyPark.ttf);}
@font-face{font-family:'f45';src: url(f/DoloresCyr_B);}
@font-face{font-family:'f46';src: url(f/DoloresCyr_Bl.ttf);}
@font-face{font-family:'f47';src: url(f/DoloresCyr_ExtraB.ttf);}
@font-face{font-family:'f48';src: url(f/DoloresCyr_Light.ttf);}
@font-face{font-family:'f49';src: url(f/DoloresCyr_Reg.ttf);}
@font-face{font-family:'f50';src: url(f/DublonC.ttf);}
@font-face{font-family:'f51';src: url(f/DublonC_B.ttf);}
@font-face{font-family:'f52';src: url(f/DublonLightC.ttf);}
@font-face{font-family:'f53';src: url(f/EdgeLine.ttf);}
@font-face{font-family:'f54';src: url(f/EdgeLine_B.ttf);}
@font-face{font-family:'f55';src: url(f/EdgeLineOutline.ttf);}
@font-face{font-family:'f56';src: url(f/EdgeLineShadow.ttf);}
@font-face{font-family:'f57';src: url(f/EpsilonC.ttf);}
@font-face{font-family:'f58';src: url(f/ExposureCMixOne.ttf);}
@font-face{font-family:'f59';src: url(f/ExposureCMixTwo.ttf);}
@font-face{font-family:'f60';src: url(f/ExposureCOne.ttf);}
@font-face{font-family:'f61';src: url(f/ExposureCOneRough.ttf);}
@font-face{font-family:'f62';src: url(f/ExposureCOutline.ttf);}
@font-face{font-family:'f63';src: url(f/ExposureCThree.ttf);}
@font-face{font-family:'f64';src: url(f/ExposureCThreeRough.ttf);}
@font-face{font-family:'f65';src: url(f/ExposureCTwo.ttf);}
@font-face{font-family:'f66';src: url(f/ExposureCTwoRough.ttf);}
@font-face{font-family:'f67';src: url(f/FagotCondensed.ttf);}
@font-face{font-family:'f68';src: url(f/FagotCondensed_I.ttf);}
@font-face{font-family:'f69';src: url(f/FatFaceC.ttf);}
@font-face{font-family:'f70';src: url(f/FixSysC.ttf);}
@font-face{font-family:'f71';src: url(f/FloraC.ttf);}
@font-face{font-family:'f72';src: url(f/FloraC_B.ttf);}
@font-face{font-family:'f73';src: url(f/FrizQuadrataC.ttf);}
@font-face{font-family:'f74';src: url(f/FrizQuadrataC_B.ttf);}
@font-face{font-family:'f75';src: url(f/FrizQuadrataC_BI.ttf);}
@font-face{font-family:'f76';src: url(f/FrizQuadrataC_I.ttf);}
@font-face{font-family:'f77';src: url(f/FuturaEugeniaC.ttf);}
@font-face{font-family:'f78';src: url(f/FuturaEugeniaC_W30.ttf);}
@font-face{font-family:'f79';src: url(f/FuturaEugeniaC_W60.ttf);}
@font-face{font-family:'f80';src: url(f/FuturaEugeniaC_W90.ttf);}
@font-face{font-family:'f81';src: url(f/FuturaEugeniaC_W120.ttf);}
@font-face{font-family:'f82';src: url(f/FuturisShadowC);}
@font-face{font-family:'f83';src: url(f/FuturisVolumeC.ttf);}
@font-face{font-family:'f84';src: url(f/FuturisXC.ttf);}
@font-face{font-family:'f85';src: url(f/FuturisXC_B.ttf);}
@font-face{font-family:'f86';src: url(f/FuturisXCameoC.ttf);}
@font-face{font-family:'f87';src: url(f/FuturisXCondC.ttf);}
@font-face{font-family:'f88';src: url(f/FuturisXCondC_B);}
@font-face{font-family:'f89';src: url(f/FuturisXShadowC.ttf);}
@font-face{font-family:'f90';src: url(f/Graffiti1C.ttf);}
@font-face{font-family:'f91';src: url(f/Graffiti2C.ttf);}
@font-face{font-family:'f92';src: url(f/Graffiti3C.ttf);}
@font-face{font-family:'f93';src: url(f/Graffiti4C.ttf);}
@font-face{font-family:'f94';src: url(f/Graffiti5C.ttf);}
@font-face{font-family:'f95';src: url(f/HeroldC.ttf);}
@font-face{font-family:'f96';src: url(f/HeroldC_B.ttf);}
@font-face{font-family:'f97';src: url(f/IrinaC.ttf);}
@font-face{font-family:'f98';src: url(f/IzhitsaC.ttf);}
@font-face{font-family:'f99';src: url(f/IzhitsaShadowC);}
@font-face{font-family:'f100';src: url(f/JakobC.ttf);}
@font-face{font-family:'f101';src: url(f/JakobC_B.ttf);}
@font-face{font-family:'f102';src: url(f/JakobExtraC.ttf);}
@font-face{font-family:'f103';src: url(f/KabelC_B.ttf);}
@font-face{font-family:'f104';src: url(f/KabelC_Book.ttf);}
@font-face{font-family:'f105';src: url(f/KabelC_Demi.ttf);}
@font-face{font-family:'f106';src: url(f/KabelC_Medium.ttf);}
@font-face{font-family:'f107';src: url(f/KabelC_Ultra.ttf);}
@font-face{font-family:'f108';src: url(f/KarollaC.ttf);}
@font-face{font-family:'f109';src: url(f/KorinnaBlC.ttf);}
@font-face{font-family:'f110';src: url(f/KorinnaBlC_Heavy.ttf);}
@font-face{font-family:'f111';src: url(f/KorinnaBlC_Kursiv.ttf);}
@font-face{font-family:'f112';src: url(f/KorinnaBlC_KursivH.ttf);}
@font-face{font-family:'f113';src: url(f/LazurskiC.ttf);}
@font-face{font-family:'f114';src: url(f/LazurskiC_B.ttf);}
@font-face{font-family:'f115';src: url(f/LazurskiC_BI.ttf);}
@font-face{font-family:'f116';src: url(f/LazurskiC_I.ttf);}
@font-face{font-family:'f117';src: url(f/MachineC.ttf);}
@font-face{font-family:'f118';src: url(f/MachineC_B.ttf);}
@font-face{font-family:'f119';src: url(f/MagistralBlC.ttf);}
@font-face{font-family:'f120';src: url(f/MagistralC.ttf);}
@font-face{font-family:'f121';src: url(f/MagistralC_B.ttf);}
@font-face{font-family:'f122';src: url(f/MatterhornC.ttf);}
@font-face{font-family:'f123';src: url(f/MontblancC.ttf);}
@font-face{font-family:'f124';src: url(f/MontblancC_I.ttf);}
@font-face{font-family:'f125';src: url(f/NewBaskervilleC_B.ttf);}
@font-face{font-family:'f126';src: url(f/NewtonXC.ttf);}
@font-face{font-family:'f127';src: url(f/NewZelek.ttf);}
@font-face{font-family:'f128';src: url(f/Opium.ttf);}
@font-face{font-family:'f129';src: url(f/Opium_B.ttf);}
@font-face{font-family:'f130';src: url(f/Opium_B_I.ttf);}
@font-face{font-family:'f131';src: url(f/Opium_I.ttf);}
@font-face{font-family:'f132';src: url(f/ParsekC.ttf);}
@font-face{font-family:'f133';src: url(f/PlainScriptC.ttf);}
@font-face{font-family:'f134';src: url(f/Pollock1C.ttf);}
@font-face{font-family:'f135';src: url(f/Pollock2C.ttf);}
@font-face{font-family:'f136';src: url(f/Pollock3C.ttf);}
@font-face{font-family:'f137';src: url(f/Pollock4C.ttf);}
@font-face{font-family:'f138';src: url(f/PragmaticaShadCB.ttf);}
@font-face{font-family:'f139';src: url(f/PragmaticaShadCBI.ttf);}
@font-face{font-family:'f140';src: url(f/ProunBC.ttf);}
@font-face{font-family:'f141';src: url(f/ProunBC_B.ttf);}
@font-face{font-family:'f142';src: url(f/ProunC.ttf);}
@font-face{font-family:'f143';src: url(f/ProunC_B.ttf);}
@font-face{font-family:'f144';src: url(f/Psaltyr.ttf);}
@font-face{font-family:'f145';src: url(f/RodchenkoC.ttf);}
@font-face{font-family:'f146';src: url(f/RodchenkoIlC.ttf);}
@font-face{font-family:'f147';src: url(f/Romul.ttf);}
@font-face{font-family:'f148';src: url(f/SecesLight_Book.ttf);}
@font-face{font-family:'f149';src: url(f/SecesLight_DemiB.ttf);}
@font-face{font-family:'f150';src: url(f/Secession.ttf);}
@font-face{font-family:'f151';src: url(f/Secession_B.ttf);}
@font-face{font-family:'f152';src: url(f/ShablonC.ttf);}
@font-face{font-family:'f153';src: url(f/Simeiz.ttf);}
@font-face{font-family:'f154';src: url(f/Simeiz_B.ttf);}
@font-face{font-family:'f155';src: url(f/Simeiz_BI.ttf);}
@font-face{font-family:'f156';src: url(f/Simeiz_I.ttf);}
@font-face{font-family:'f157';src: url(f/SimeizLight.ttf);}
@font-face{font-family:'f158';src: url(f/SimeizLight_B.ttf);}
@font-face{font-family:'f159';src: url(f/SimeizLight_BI.ttf);}
@font-face{font-family:'f160';src: url(f/SimeizLight_I.ttf);}
@font-face{font-family:'f161';src: url(f/SonetSerif.ttf);}
@font-face{font-family:'f162';src: url(f/SonetSerif_B.ttf);}
@font-face{font-family:'f163';src: url(f/SonetSerif_B_I.ttf);}
@font-face{font-family:'f164';src: url(f/SonetSerif_I.ttf);}
@font-face{font-family:'f165';src: url(f/StandardPosterC.ttf);}
@font-face{font-family:'f166';src: url(f/StarC.ttf);}
@font-face{font-family:'f167';src: url(f/TauernC.ttf);}
@font-face{font-family:'f168';src: url(f/TauernC_I);}
@font-face{font-family:'f169';src: url(f/TauernEC.ttf);}
@font-face{font-family:'f170';src: url(f/TauernEC_I.ttf);}
@font-face{font-family:'f171';src: url(f/Tavrida.ttf);}
@font-face{font-family:'f172';src: url(f/Tavrida_B.ttf);}
@font-face{font-family:'f173';src: url(f/TavridaAd.ttf);}
@font-face{font-family:'f174';src: url(f/Trafaret.ttf);}
@font-face{font-family:'f175';src: url(f/Traktir.ttf);}
@font-face{font-family:'f176';src: url(f/TraktirCameo.ttf);}
@font-face{font-family:'f177';src: url(f/TrixieCyr_Cameo.ttf);}
@font-face{font-family:'f178';src: url(f/TrixieCyr_Light.ttf);}
@font-face{font-family:'f179';src: url(f/TrixieCyr_Plain.ttf);}
@font-face{font-family:'f180';src: url(f/TrueGritC.ttf);}
@font-face{font-family:'f181';src: url(f/Viola.ttf);}
@font-face{font-family:'f182';src: url(f/Wien_B.ttf);}
@font-face{font-family:'f183';src: url(f/WienInline.ttf);}
@font-face{font-family:'f184';src: url(f/WienLight_Book.ttf);}
@font-face{font-family:'f185';src: url(f/WienLight_DemiB.ttf);}
@font-face{font-family:'f186';src: url(f/WindC.ttf);}
@font-face{font-family:'f187';src: url(f/ZapfChanceryC.ttf);}
h1 {font-family: 'x121';}
