img.akfasad {
    width: 100%;
}.special.naf h3 {
    font-size: 16px;
    margin: 10px 0 0;
    text-align: center;
}
.solutions .resheniya .col-md-3 {
    border: 1px solid #c3c3c3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 180px 1fr;
}

.solutions .container.resheniya .col-md-12 {display: grid;grid-template-columns: 25% 25% 25% 25%;grid-template-rows: 245px;grid-gap: 12px;margin: 20px 0;}

.solutions .container.resheniya .col-md-12 .col-md-3 {
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.special.naf h3 a {
    color: #ae100e;
}

span.category-description.std img {
    width: 100%;
    height: auto;
}

.overlap {
    background: rgba(37, 37, 37, 0.74);
    position: absolute;
    width: 100%;
    top: -20px;
    left: 2940px;
    padding-top: 50px;
}

.overlap .spinner {
    width: 200px;
    position: relative;
    left: 776px;
}

.entry-header .overlap .entry-title .h2 {
    margin: -180px 0 0 60px;
}

.overlap #melnica.zaaddal .spinner:after {
    top: 152px;
    left: -60px;
}

.overlap #melnica.zaaddal .spinner:before {
    top: -24px;
    left: 10px;
}

span.category-description.std p, span.category-description.std div {
    margin: 0 0 40px;
    font-size: 17px;
    line-height: 1.5;
}

.solutions .container.resheniya .col-md-12 .col-md-3 img {
    height: 100%;
    width: auto;
    max-width: none;
}

.solutions .container.resheniya .col-md-12 .col-md-3 a {
    overflow: hidden;
    max-width: 100%;
    width: 100%;
}

.solutions .resheniya .w3agile_blog_left_grid_sub {
    overflow: hidden;
}

.std ul {
    margin: 30px 20px;
    list-style-type: none;
    filter: contrast(0.6);
}

.std ul img#coga {
    transition: all 6s;
    animation: rotating 19s linear infinite;
    width: 35px;
    height: 35px;
    margin: 0 6px;
}

.std ul li {
    margin: 12px 0;
}

.grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 35px;
}

.pusk {
    background-color: #f4f4f4;
}

.pusk div {
    margin: 20px;
    background: white;
    padding: 20px;
}

.grid-3.pusk {
    padding: 10px;
}

h4.news-products.nepr {
    opacity: 0;
    background: #fff;
    position: relative;
    top: 0;
    transition: 1s;
    padding: 10px 0;
    text-align: center;
    border: 1px solid #c3c3c3;
}.grid-3.asp a:hover h4 {
    top: calc(-50% + 18px);
    opacity: 1;
}



@media only screen and (min-width:100px) and (max-width:576px){

.grid-3{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
    .entry-header .overlap .entry-title .h2{
    margin: -50px 60px 0px;
} .solutions .container.resheniya .col-md-12{grid-template-columns: 1fr;}}
